  .input-container--invalid .input {
      border: 1px solid #df2525;
      border-radius: 7px;
  }

  .input-container--invalid .input-label {
      color: #df2525
  }

  .input-message-error {
      display: none;
  }

  .input-container--invalid .input-message-error {
      color: #df2525;
      display: block;
      margin-top: 0.5rem;
      padding-left: 0.5rem;
  }